/**
Url references to static assets in CSS need to be an absolute path from the "static" folder
 */
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/fira-code-v21-latin-regular.woff2') format('woff2');
}

.bg-example {
  background-image: url('/images/sprout.jpg');
}
