{% from "_macros/links" import linkCta %}

{# Output #}
{% set childBlocks = block.children.collect() %}

{% if childBlocks | length %}
  <div class="[{{ block.type.handle }}] space-y-8">
    {% for childBlock in childBlocks %}
      {% include  '_blocks/' ~ childBlock.type ignore missing with { block: childBlock } only %}
    {% endfor %}
  </div>
{% endif %}
